---
import Layout from "../layouts/layout.astro";
---
<html lang="en" class="h-full">
<head>
	<title>minonky.eu</title>
</head>
<Layout>
	<body class="h-full">
		<div class="w-full h-full overflow-hidden">
			<object
				data="https://orgpad.info/s/JQnOvchAFvK?embed=true"
				class="w-full h-full border-none"
				type="text/html"
			>
				<p>Your browser does not support embedded objects.</p>
			</object>
		</div>
	</body>
</Layout>
</html>